<!--Tyler Armstrong-->
<!--April 24, 2023-->
<!--CSE 155 final Project-->

<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Currency Identification</title>
        <link rel = "stylesheet" href = "../static/src/currencyIdentification.css">  
        <link rel = "icon" type = "image/jpg" href = "../static/img/coins.jpg" sizes="16x16">
        <script src = "../static/src/currencyIdentification.js" defer></script>
    </head>

    <body>
        <table>
            <tr>
                <td id = "t2">
                    <img src = "../static/img/coin.gif" id = "coin">
                </td>
                <td>
                    <h1>
                        Currency Identifier
                    </h1>
                </td>
                <td id = "t3">
                    <img src = "../static/img/coin.gif" id = "coin">
                </td>
            </tr>
        </table>
        
        <table id = "choices">
            <tr>
                <td id = "t1">
                    Live WebCam Capture 
                </td>
                <td id = "t1">
                    File upload
                </td>
            </tr>
            <tr>
                <td id = "t1">
                    <a class = "fullarea" href = "webcam">
                        <img src = "../static/img/cam.png" id = "img1">
                    </a>
                </td>
                <td id = "t1">
                    <a class = "fullarea" href = "fileupload">
                        <img src = "../static/img/filefolder.png" id = "img2">
                    </a>
                </td>
            </tr>
        </table>

    </body>

</html>